/out/*
/simulations/.qtenvrc
/simulations/.cmdenv-log
/simulations/*.anf
/simulations/*.csv
/simulations/results/*
.settings/language.settings.xml
/src/CRan
/.computed/
/documentation/project.log
/documentation/project.aux
/documentation/project.pdf
/documentation/project.toc
